{% if admin.hasAccess('edit', object) and admin.hasRoute('reset') and object.status in ['error'] %}
    <a href="{{ admin.generateObjectUrl('reset', object) }}" class="btn btn-sm btn-default" title="Reset">
        <i class="glyphicon glyphicon-refresh"></i>
        Reset
    </a>
{% endif %}
